.w-140 {
    width: 35rem;
}

.w-150 {
    width: 37.5rem;
}

.w-180 {
    width: 45rem;
}

.w-90vw {
    width: 90vw;
}

.max-w-80 {
    max-width: 20rem;
}

.max-w-100 {
    max-width: 25rem;
}

.max-w-120 {
    max-width: 30rem;
}

.max-w-screen {
    max-width: 98vw;
}


@media (min-width: 480px) {
    .md-e-140 {
        width: 35rem !important;
        max-width: 98vw;
    }
}
 
.max-h-100 {
    max-height: 25rem;
    overflow-y: auto;
}

.max-w-160 {
    max-width: 40rem;
}

.scrollbar-hidden {
    height: 100vh;
    overflow-y: hidden;
}

/* ====== ANIMATION ====== */
.perspective {
    perspective: 700px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.animation-flip-to-right {
    animation: flip-to-right 0.8s 1 forwards;
}

@keyframes flip-to-right {
    to {
        transform: rotateY(180deg);
    }
}

.animation-flip-to-left {
    animation: flip-to-left 0.8s 1 forwards;
}

@keyframes flip-to-left {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0);
    }
}

.transition-4 {
    transition: 0.4s;
}

.animation-fade-in {
    animation: fade-in 0.4s 1 forwards;
}

.animation-zoom-in {
    animation: zoom-in 0.4s 1 forwards;
} 

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes zoom-in {
    from {
        transform: translate(-50%, -50%) scale(0.5);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* ====== COLOR ====== */
.bg-red {
    background-color: #c0392b;
}

.text-red {
    color: #c0392b;
}

.text-linkedin-color {
    color: #0077B5;
}

.bg-black-opacity {
    background-color: rgba(0, 0, 0, 0.85);
}
